/* свойства, установленные для всей видимой
в браузере части страницы */
.page {
  background-color: #161819;
  /* страница имеет тёмный фон */
  color: white;
  /* цвет текста - белый */
  font-family: 'Lora';
  /* шрифт, кроме оговорённых отдельно случаев, —  'Lora' */
  padding: 120px 0;
  /* внутренние отступы сверху и снизу по 120 пикселей, справа и слева нулевые */

  /* эта магия делает наши шрифты красивыми,
  разберёмся в отдельном курсе */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern"1;
  font-feature-settings: "kern";
}

/* контент всей веб-страницы занимает 40 процентов
ширины окна просмотра, располагается по центру */
.content__container {
  width: 40%;
  margin: auto;
}

/* общее свойство заголовков — всей страницы, глав,
разделов и подразделов — особый шрифт */
.content__title {
  font-family: 'Playfair Display';
}

/* свойства заголовка всей страницы */
.content__title_item_main {
  color: #ff6666;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 60px;
}

/* свойства названий глав и разделов */
.content__title_item_sub {
  color: #ff6666;
  font-size: 55px;
  line-height: 70px;
  margin: 120px 0 60px;
  width: 50%;
}

/* свойства заголовков подразделов */
.content__title_item_method {
  font-size: 40px;
  line-height: 50px;
  margin: 60px 0 20px;
}

/* свойства текста обычного абзаца */
.content__text {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
}

/* свойства текста цитат */
.content__quote {
  position: relative;
  /*присвойте селектору content__quote правило относительного позиционирования.*/
  font-family: 'Lora';
  font-size: 34px;
  line-height: 42px;
  padding: 40px;
  margin-bottom: 60px;
  border-top: 2px solid #ff6666;
  border-bottom: 2px solid #ff6666;
  top: 5px;
  left: 60px;
}

/* свойства текста с указанием источника цитаты */
.content__quote-origin {
  display: block;
  color: #a6a6a6;
  text-align: right;
  font-size: 22px;
  margin-top: 52px;
  margin-right: -40px;
}

/* далее следуют правила для меню и его пунктов;
нам предстоит прописать их по мере изучения позиционирования */
.menu__item {
  /*position: static;
  /*Задайте блоку "menu__item" статическое позиционирование и убедитесь, что ничего не изменится. 
  Вы просто ещё раз присвоите этому элементу правило, заложенное по умолчанию*/
  position: fixed;
  z-index: 1;
  /*Всему фиксированному элементу .menu__item добавьте z-index со значением 1.
  Это больше, чем у элемента с изображением из текста content__image, для которого z-индекс не оговорен и соответственно равен 0.*/
}

.menu__item:hover .menu__picture {
  display: block;
  /*Закрепим навык на изображениях в меню, они обозначены классом menu__picture.
  Для начала сделаем их видимыми при наведении мыши на элемент menu__item.
  Здесь понадобится комплексный селектор: .menu__item:hover .menu__picture
  Этот селектор означает «элемент menu__picture, вложенный в menu__item, на который наведена мышь».
  Измените для этого селектора свойство display на значение block.
  Теперь при наведении указателя мыши на гиперссылку меню изображения становится блочным элементом, видимым для пользователя*/
}

/*гиперссылка пейзаж расположилась в 40px по горизонтали и вертикали от верхнего левого угла окна браузера*/
.menu__item_theme_landscape {
  top: 40px;
  left: 40px;
}

/*гиперссылка пейзаж расположилась в 40px по горизонтали и вертикали от верхнего правого угла окна браузера*/
.menu__item_theme_portrait {
  top: 40px;
  right: 40px
}

/*гиперссылка пейзаж расположилась в 40px по горизонтали и вертикали от нижнего левого угла окна браузера*/
.menu__item_theme_viewpoint {
  bottom: 40px;
  left: 40px;
}

.menu__item_theme_expression {
  bottom: 40px;
  right: 40px;
}

/* общие свойства всех ссылок меню на другие разделы сайта */
.menu__link {
  color: #a6a6a6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'PTMono';
  text-transform: uppercase;
}

/* изменение цвета ссылки на другой раздел сайта по наведении указателя мыши */
.menu__link:hover {
  color: #ff6666;
}

/* общие свойства всех иллюстраций, всплывающих рядом с соответствующим
пунктом меню: при бездействии пользователя они скрыты */
.menu__picture {
  display: none;
  width: 300px;
  position: absolute;
  /*   Сейчас при наведении мыши на пункт меню изображения сдвигают некоторые гиперссылки. Но эстетика дизайна требует предсказуемости: положение ссылок не должно зависеть от изображения.
  Нужно абсолютным позиционированием вырвать из потока все картинки с классом menu__picture.
  Теперь всплывающие изображения появляются под гиперссылкой, и 3я и 4я картинка видны только частично*/
}

/* далее следуют правила для всплывающих иллюстраций;
нам предстоит прописать их в процессе прохождения этого курса 
Каждую картинку меню нужно расположить корректно относительно её родителя с классом menu__item.
Присвойте элементам с соответствующими модификаторами необходимые стили, отвечающие за расположение 
элементов, чтобы они больше не выходили за пределы экрана*/
.menu__picture_theme_landscape {
  top: 40px;
  left: 40px;
}

/*ниже верхней границы родителя на 40 пикселей и левее правой границы на 40 пикселей;*/
.menu__picture_theme_portrait {
  top: 40px;
  right: 40px;
}

.menu__picture_theme_viewpoint {
  bottom: 40px;
  left: 40px;
}

/* выше нижней границы родителя на 40 пикселей и левее правой границы на 40 пикселей.*/
.menu__picture_theme_expression {
  bottom: 40px;
  right: 40px;
}

/* общие свойства контейнеров с обычными иллюстрациями в тексте */
.content__image {
  margin: 60px 0;
  position: relative;
  /*Добавьте элементу с классом content__image (родительскому для покрывала content__image-cover) относительное позиционирование relative.*/
}

/* общие свойства иллюстраций в тексте */
.content__image-item {
  width: 100%;
}

/* общие свойства "покрывал" для иллюстраций при бездействии пользователя */
.content__image-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  position: absolute;
  /*вырвем элемент из потока командой position: absolute;*/
  top: 0;
  left: 0;
}

/* изменения свойств "покрывала" при наведении мыши на иллюстрации в тексте */
.content__image-cover:hover {
  opacity: 1;
}

/* свойства подписей с названиями иллюстраций */
.content__image-name {
  font-size: 14px;
  position: absolute;
  /*Обратите внимание: родительский элемент content__image-cover был спозиционирован свойством position: absolute;
                      Поэтому подпись откладывает свои координаты от этого родителя.*/
  bottom: 10px;
  right: 10px;
}

/* свойства контейнера с информацией об авторах и авторских правах */
.content__item_type_copyright {
  margin-top: 40px;
  font-size: 22px;
  line-height: 30px;
  color: #a6a6a6;
}

/* свойства текста строки с информацией об авторе */
.content__text_type_copyright {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}